*{
    margin:0;
}
.title{
    color:red;
    background-color: blue;
    width:100%;
    height: 200px;
}
.content{
    color:blue;
    background-color: red;
    width:100%;
    height: 200px;
    text-align: center;
}